<svg
  width="300"
  height="193"
  viewBox="0 0 300 193"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <line
    x1="249.901"
    y1="135.566"
    x2="290.042"
    y2="159.65"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="210.133"
    y1="124.133"
    x2="251.076"
    y2="136.978"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="170.84"
    y1="112.106"
    x2="210.981"
    y2="125.754"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="128.619"
    y1="34.4006"
    x2="169.562"
    y2="113.076"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="91.3034"
    y1="24.5804"
    x2="130.641"
    y2="36.6226"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="50.605"
    y1="4.60311"
    x2="87.5344"
    y2="21.4622"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="5.30192"
    y1="161.62"
    x2="49.4567"
    y2="6.6771"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect y="153.337" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect x="43.3521" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect
    x="84.2954"
    y="16.8591"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="123.633"
    y="28.9012"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="163.774"
    y="105.168"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="203.915"
    y="117.211"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="244.055"
    y="129.253"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="285.802"
    y="153.337"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <line
    x1="249.901"
    y1="135.566"
    x2="290.042"
    y2="159.65"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="210.133"
    y1="124.133"
    x2="251.076"
    y2="136.978"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="170.84"
    y1="112.106"
    x2="210.981"
    y2="125.754"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="128.619"
    y1="34.4006"
    x2="169.562"
    y2="113.076"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="91.3034"
    y1="24.5804"
    x2="130.641"
    y2="36.6226"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="50.605"
    y1="4.60311"
    x2="87.5344"
    y2="21.4622"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="5.30192"
    y1="161.62"
    x2="49.4567"
    y2="6.6771"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect y="153.337" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect x="43.3521" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect
    x="84.2954"
    y="16.8591"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="123.633"
    y="28.9012"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="163.774"
    y="105.168"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="203.915"
    y="117.211"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="244.055"
    y="129.253"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="285.802"
    y="153.337"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <line
    x1="249.901"
    y1="135.566"
    x2="290.042"
    y2="159.65"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="210.133"
    y1="124.133"
    x2="251.076"
    y2="136.978"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="170.84"
    y1="112.106"
    x2="210.981"
    y2="125.754"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="128.619"
    y1="34.4006"
    x2="169.562"
    y2="113.076"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="91.3034"
    y1="24.5804"
    x2="130.641"
    y2="36.6226"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="50.605"
    y1="4.60311"
    x2="87.5344"
    y2="21.4622"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="5.30192"
    y1="161.62"
    x2="49.4567"
    y2="6.6771"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect y="153.337" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect x="43.3521" width="12.0422" height="12.0422" fill="var(--accent-colour)" />
  <rect
    x="84.2954"
    y="16.8591"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="123.633"
    y="28.9012"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="163.774"
    y="105.168"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="203.915"
    y="117.211"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="244.055"
    y="129.253"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="285.802"
    y="153.337"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <line
    x1="251.507"
    y1="162.862"
    x2="291.647"
    y2="186.946"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="211.739"
    y1="151.429"
    x2="252.682"
    y2="164.274"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="172.446"
    y1="139.402"
    x2="212.587"
    y2="153.049"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="130.224"
    y1="61.6961"
    x2="171.168"
    y2="140.372"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="92.9092"
    y1="51.8761"
    x2="132.247"
    y2="63.9183"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="52.2107"
    y1="31.8988"
    x2="89.1401"
    y2="48.7578"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="6.90739"
    y1="188.916"
    x2="51.0621"
    y2="33.9728"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect
    x="1.60571"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="44.9578"
    y="27.2957"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="85.9009"
    y="44.1547"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="125.239"
    y="56.1969"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="165.38"
    y="132.464"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="205.52"
    y="144.506"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="245.661"
    y="156.549"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="287.407"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <line
    x1="251.507"
    y1="162.862"
    x2="291.647"
    y2="186.946"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="211.739"
    y1="151.429"
    x2="252.682"
    y2="164.274"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="172.446"
    y1="139.402"
    x2="212.587"
    y2="153.049"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="130.224"
    y1="61.6961"
    x2="171.168"
    y2="140.372"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="92.9092"
    y1="51.8761"
    x2="132.247"
    y2="63.9183"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="52.2107"
    y1="31.8988"
    x2="89.1401"
    y2="48.7578"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="6.90739"
    y1="188.916"
    x2="51.0621"
    y2="33.9728"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect
    x="1.60571"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="44.9578"
    y="27.2957"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="85.9009"
    y="44.1547"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="125.239"
    y="56.1969"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="165.38"
    y="132.464"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="205.52"
    y="144.506"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="245.661"
    y="156.549"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="287.407"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <line
    x1="251.507"
    y1="162.862"
    x2="291.647"
    y2="186.946"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="211.739"
    y1="151.429"
    x2="252.682"
    y2="164.274"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="172.446"
    y1="139.402"
    x2="212.587"
    y2="153.049"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="130.224"
    y1="61.6961"
    x2="171.168"
    y2="140.372"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="92.9092"
    y1="51.8761"
    x2="132.247"
    y2="63.9183"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="52.2107"
    y1="31.8988"
    x2="89.1401"
    y2="48.7578"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <line
    x1="6.90739"
    y1="188.916"
    x2="51.0621"
    y2="33.9728"
    stroke="var(--text-colour)"
    stroke-width="4"
  />
  <rect
    x="1.60571"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="44.9578"
    y="27.2957"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="85.9009"
    y="44.1547"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="125.239"
    y="56.1969"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="165.38"
    y="132.464"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="205.52"
    y="144.506"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="245.661"
    y="156.549"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
  <rect
    x="287.407"
    y="180.633"
    width="12.0422"
    height="12.0422"
    fill="var(--accent-colour)"
  />
</svg>
