<svg width="296" height="190" viewBox="0 0 296 190" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="215.923" y1="142.226" x2="288.923" y2="180.226" stroke="var(--accent-colour)" stroke-width="4"/>
<line x1="209.214" y1="150.101" x2="280.214" y2="9.10051" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="188.796" y1="94.1191" x2="214.796" y2="147.119" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="183.262" y1="93.011" x2="216.262" y2="35.011" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="143.368" y1="143.103" x2="275.368" y2="99.1026" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="32.4647" y1="52.6381" x2="85.4647" y2="109.638" stroke="var(--accent-colour)" stroke-width="4"/>
<line x1="116.82" y1="63.1757" x2="185.82" y2="94.1757" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="142.13" y1="145.71" x2="112.13" y2="66.71" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="110.544" y1="180.629" x2="142.544" y2="146.629" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="4.9281" y1="148.001" x2="143.928" y2="143.001" stroke="var(--text-colour)" stroke-width="4"/>
<line x1="10.1154" y1="145.206" x2="83.1154" y2="109.206" stroke="var(--text-colour)" stroke-width="4"/>
<rect x="134" y="134" width="20" height="20" fill="var(--text-colour)"/>
<rect x="20" y="46" width="20" height="20" fill="var(--accent-colour)"/>
<rect x="74" y="101" width="20" height="20" fill="var(--accent-colour)"/>
<rect x="175" y="86" width="20" height="20" fill="var(--text-colour)"/>
<rect x="100" y="170" width="20" height="20" fill="var(--text-colour)"/>
<rect x="104" y="56" width="20" height="20" fill="var(--text-colour)"/>
<rect y="138" width="20" height="20" fill="var(--text-colour)"/>
<rect x="203" y="135" width="20" height="20" fill="var(--accent-colour)"/>
<rect x="208" y="26" width="20" height="20" fill="var(--text-colour)"/>
<rect x="266" y="91" width="20" height="20" fill="var(--text-colour)"/>
<rect x="276" width="20" height="20" fill="var(--text-colour)"/>
<rect x="276" y="170" width="20" height="20" fill="var(--accent-colour)"/>
<line x1="88.5061" y1="111.065" x2="218.506" y2="145.065" stroke="var(--accent-colour)" stroke-width="4"/>
</svg>
